/*
PALETA DE COLORES
#FFFFFF (Fondo)
#95D4AA (Color principal)
#E6A3A1 (Color secundario)
#994F4D (Color secundario)
*/

.container-fluid {
  height: 150px;
}
.biografia {
  padding: 0;
  margin: 0;
  left: 80%;
  top: 50%;
  text-align: center;
  color: white;
}
.biografia2 {
  padding: 0;
  margin: 0;
  left: 80%;
  top: 50%;
  text-align: center;
  color: black;
}
.contacto {
  text-align: center; /*TRATO DE CENTRAR EL APARTADO DE CONTACTOS*/
}
p {
  color: white;
  text-align: center;
}
.sangria {
  text-indent: 40px;
}
.boton_principal {
  color: black;
  background-color: #95d4aa;
  border: none;
}
.boton_principal:hover {
  color: black;
  background-color: #e6a3a1;
}

/*COMIENZA LA ANIMACION DE LAS TARJETAS*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #f7f7f7;
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

.contactanos {
  text-decoration: none;
  margin-left: 10px;
  color: #19d897;
  border: #19d897;
}

.rounded2 {
  border-top: 5px solid;
  border-radius: 10px;
  color: #19d897;
  margin-left: 5%;
  margin-right: 5%;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  margin: 5%;
}
/*FINALIZA LA ANIMACION DE LAS TARJETAS*/
.fondo {
  background-color: #95d4aa;
}
.letra {
  color: black;
}

.fondo3 {
  background-color: #e6a3a1;
}

